
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #f5f5f5;
color: #333;
}


header {
text-align: center;
padding: 40px 20px;
background: #2c3e50;
color: white;
}


h1 {
margin-bottom: 10px;
font-size: 32px;
}


h2 {
border-left: 5px solid #2c3e50;
padding-left: 10px;
margin-top: 40px;
}


section {
background: white;
margin: 20px auto;
padding: 20px;
width: 90%;
max-width: 800px;
border-radius: 8px;
box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.project {
background: #fafafa;
padding: 15px;
margin-top: 10px;
border: 1px solid #ddd;
border-radius: 6px;
}


#contact a {
color: #2c3e50;
text-decoration: none;
font-weight: bold;
}


#contact a:hover {
color:purple;
text-decoration: underline;
}


footer {
text-align: center;
padding: 20px;
margin-top: 30px;
background: #2c3e50;
color: white;
}


.icon {
    width: 22px;
    height: 22px;
    margin-left: 8px;
    vertical-align: middle;
    transition: transform 0.2s ease;
}

.icon:hover {
    transform: scale(1.15);
}


/* Responsive Styles */
@media (max-width: 768px) {
header h1 {
font-size: 26px;
}
section {
width: 95%;
}
}


@media (max-width: 576px) {
h2 {
font-size: 20px;
}
body {
font-size: 15px;
}
}